<h1>Overview of: {{formattedMonth$|async}}</h1>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Sunday</th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let week of weeks$|async; trackBy tracker">
            <td *ngFor="let day of week; trackBy tracker">
                <day-detail *ngIf="day" [dayWithAppointments]="day"
                    (addAppointment)="addAppointment.emit($event)" (updateAppointment)="updateAppointment.emit($event)"
                    (removeAppointment)="removeAppointment.emit($event)">
                </day-detail>
            </td>
        </tr>
    </tbody>
</table>